@let analyticsData = this.analyticsData();
@let latestOdoEntry = this.latestOdoEntry();
<header>
  <nav class="navbar">
    <div class="flex-1"></div>
    <button (click)="openLeasingInfoModal()" class="btn btn-circle flex-none">
      <fast-svg name="cog" />
    </button>
  </nav>
</header>
<main class="flex flex-col gap-8 max-sm:px-4">
  @if (latestOdoEntry?.odo) {
    <div>
      <h1 class="text-2xl mb-4">Stats</h1>
      <tu-summary [totalKm]="latestOdoEntry!.odo" [difference]="analyticsData.differenceFromExpected"
                  [differenceInDays]="analyticsData.idleDaysToReachExpectedKm" />
    </div>
  }
  <div>
    <h1 class="text-2xl mb-4">Dashboard</h1>
    <tu-leasing-chart [analyticsData]="analyticsData" />
  </div>
  <div class="absolute right-8 bottom-8">
    <button class="btn-circle btn btn-accent btn-lg" (click)="openEntryModal()">
      <fast-svg name="plus" size="36" />
    </button>
  </div>
</main>

<dialog #modal class="modal">
  <div class="modal-box">
    @if (modal.open && dialogComponent()) {
      @switch (dialogComponent()) {
        @case ('add') {
          <tu-add-entry (submitted)="closeModal()" (canceled)="closeModal()" />
        }
        @case ('leasingInfo') {
          <tu-leasing-info
            (submitted)="leasingInfoSaved()"
            (canceled)="closeModal()"
          />
        }
        @default {
          <p>Unknown dialog component</p>
        }
      }
    }
  </div>
</dialog>
